.titulo{
    font-family: 'Oswald', sans-serif , 'Lexend', sans-serif , 'Joan', serif;
}
.mainstart p{ 
    font-family:'Abril Fatface', cursive , 'Oswald', sans-serif;
    font-size: 30px;
    

}
h2{
    font-family: 'Oswald', sans-serif , 'Lexend', sans-serif , 'Joan', serif;
    border: solid 2px;
}
header nav ul li{
    font-size: 18px;
}
.buscanos{
    text-align: center;
    margin-top: 1cm;
}
.textfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}




